<label>Server Name</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
  <!--<p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>


<p>Server was created, server name is {{ serverName }}</p>


<app-server></app-server>
<app-server></app-server>
