<div class="container">
  <div class="row">
    <div class="col-xs-12">
<h3>
  {{title}}
</h3>

<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>

<app-servers></app-servers>

</div>
</div>
</div>
